<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {{site.title}}
    </title>


    <link rel="stylesheet" href="{{assets}}/css/docs.css">
    <link rel="stylesheet" href="{{assets}}/css/github.css">

    <script src="{{assets}}/js/docs.js"></script>
  </head>
  <body>


    {{! Navbar
    ================================== }}
    {{> navbar }}


    {{! Subhead
    ================================== }}
    {{> subhead }}


    {{! Page content
    ================================== }}
    {{> body }}



    {{> scripts }}
  </body>
</html>