<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {{> nav-main }}

    <!-- Header -->
    <div class="docs-header" id="content">
      <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ lead }}</p>
        {{!> ads }}
      </div>
    </div>

    <!-- Callout for the old docs link -->
    {{> banner }}

    <!-- Content -->
    <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            <ul class="nav sidenav">
              {{#is slug "index" }}
                {{> nav-getting-started }}
              {{/is}}
              {{#is slug "features" }}
                {{> nav-features }}
              {{/is}}
              {{#is slug "functions" }}
                {{> nav-functions }}
              {{/is}}
              {{#is slug "usage" }}
                {{> nav-usage }}
              {{/is}}
              {{#is slug "cheatsheet" }}
                {{> nav-cheatsheet }}
              {{/is}}
              {{#is slug "css" }}
                {{> nav-css }}
              {{/is}}
              {{#is slug "components" }}
                {{> nav-components }}
              {{/is}}
              {{#is slug "customize" }}
                {{> nav-customize }}
              {{/is}}
              {{#is slug "blog" }}
                {{> nav-blog }}
              {{/is}}
              {{#is slug "about" }}
                {{> nav-about }}
              {{/is}}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{> body }}
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{> footer }}

    <!-- JavaScript and analytics only. -->
    {{> javascripts }}

  </body>
</html>