<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>LESS « The Dynamic Stylesheet Language</title>
    <link rel="stylesheet" href="{{assets}}/css/docs.css">
    <link rel="stylesheet" href="{{assets}}/css/github.css">
  </head>
  <body>

    {{! Navbar
    ================================== }}
    {{> navbar }}


    {{! Subhead
    ================================== }}
    {{> subhead }}


    {{! Page content
    ================================== }}
    {{> body }}

    <script src="{{assets}}/js/highlight.js"></script>
    <script src="{{assets}}/js/holder.js"></script>
  </body>
</html>