<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>

    {{#is slug 'index'}}
      {{> docs-header }}
    {{/is}}
    
    {{!-- Content --}}
    <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            {{> sidenav }}
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{!-- Docs master nav --}}
          {{> nav-main }}
          {{> body }}
        </div>
      </div>
    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>