<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="alternate" type="application/atom+xml" title="{{title}} - feed" href="/index.xml">
    <title>LESS &laquo; The Dynamic Stylesheet language</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="{{assets}}/css/main.css" rel="stylesheet" type="text/css" >
    <link rel="shortcut icon" href="/favicon.ico">

    <script src="{{assets}}/js/docs.js"></script>
  </head>
  <body>
    <section>
      {{> body }}
    </section>
    <a href="http://github.com/less/less.js">
      <img style="position: absolute; z-index: 5; top: 0; left: 0; border: 0;"src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"alt="Fork me on GitHub">
    </a>
    <script src="{{assets}}/js/hiless.js"></script>
    {{!> javascripts-footer }}
  </body>
</html>