<div class="banner">
  <div class="container">
    <strong>
      <a href="{{ site.repo }}/blob/master/CHANGELOG.md">See what's new in v{{less.version}}</a>
    </strong>
    To hear what's new from the Less.js core team, <a href="TODO">visit the blog</a>.
  </div>
</div>
