<div class="banner">
  <div class="container">
    less v{{less.version}} has been released - 
    <strong>
      <a href="{{ site.codebasemaster }}CHANGELOG.md">See what's new</a>
    </strong>
  </div>
</div>
