{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container" style="text-align:center">
    <div>
      <img src="public/img/less_logo.png" style="max-width: 264px" />
      <h3>It's CSS, with just a little more.</h3>

    </div>
  </div>
</div>

{{!-- Callout for the old docs link --}}
{{> banner }}