{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container" style="text-align:center">
    <div>
      <img src="public/img/less_logo.png" style="max-width: 264px" />
      <h3>It's CSS, with just a little more.</h3>

      <p>Use with Node.js:</p>
  
  <code id="codeSnippet">npm install -g less <i class="fas fa-copy" style="color:#428bca;cursor:pointer" onclick="copyCode()"></i></code><br/>
      <code>&gt; lessc styles.less styles.css</code>
      <br><br>
      <p>Or the browser:</p>
      <code>{{marked '<link rel="stylesheet/less" type="text/css" href="styles.less" />' }}</code><br>
      <code>&lt;script src="<a href="{{ site.cdn.cloudflare }}">{{ site.cdn.cloudflare }}</a>" &gt;&lt;/script&gt;</code><br>
      <br><br>
      <p>Or try <code><a href="{{ site.playground }}">the online playground</a></code> ! 🆕</p>

    </div>
  </div>
</div>

  <!-- Include the JavaScript code to copy the code snippet -->
  <script>
    function copyCode() {
      // Get the code snippet element
      var codeElement = document.getElementById("codeSnippet");

      // Create a textarea element and set its value to the code snippet
      var textarea = document.createElement("textarea");
      textarea.value = codeElement.innerText;

      // Append the textarea element to the document
      document.body.appendChild(textarea);

      // Select the content of the textarea
      textarea.select();

      // Copy the selected text to the clipboard
      document.execCommand("copy");

      // Remove the textarea element from the document
      document.body.removeChild(textarea);

      // Provide some visual feedback to the user
// Show a beautiful message using Toastr
      toastr.success("Command copied to clipboard!", "Success", {
        closeButton: true,
        progressBar: true,
        positionClass: "toast-bottom-left",
        timeOut: 4000,
      });    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{{!-- Callout for the old docs link --}}
{{> banner }}