<a href="{{less.repo}}">
  <img style="position: absolute; z-index: 5; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
</a>
