<li>
  <a href="#getting-started">Getting Started</a>
  <ul class="nav">
    <li><a href="#synopsis">overview</a></li>
    <li><a href="#usage">usage</a></li>
    <li><a href="#docs" id="guide-link">language</a></li>
    <li><a href="#reference" id="guide-link">function reference</a></li>
    <li><a href="https://github.com/less/less.js">source</a></li>
    <li><a href="#about">about</a></li>
    <li><a href="http://less2css.org/" target="_blank">try it now!</a></li>
  </ul>
</li>
<li>
  <a href="#download">Download Bootstrap</a>
  <ul class="nav">
    <li><a href="#download-compiled">Compiled CSS, JS, and fonts</a></li>
    <li><a href="#download-additional">Additional downloads</a></li>
    <li><a href="#download-cdn">Bootstrap CDN</a></li>
  </ul>
</li>
<li>
  <a href="#whats-included">What's included</a>
</li>
<li>
  <a href="#template">Basic template</a>
</li>
<li>
  <a href="#examples">Examples</a>
</li>
<li>
  <a href="#migration">Migrating from 2.x to 3.0</a>
  <ul class="nav">
    <li><a href="#migration-classes">Major class changes</a></li>
    <li><a href="#migration-new">What's new</a></li>
    <li><a href="#migration-dropped">What's removed</a></li>
    <li><a href="#migration-notes">Additional notes</a></li>
  </ul>
</li>
<li>
  <a href="#browsers">Browser support</a>
</li>
<li>
  <a href="#third-parties">Third party support</a>
</li>
<li>
  <a href="#accessibility">Accessibility</a>
</li>
<li>
  <a href="#license-faqs">License FAQs</a>
</li>
<li>
  <a href="#customizing">Customizing Bootstrap</a>
</li>
