<li>
  <a href="#features-overview-feature">Overview</a>
  <ul class="nav">
    <li><a href="#variables">Variables</a></li>
    <li><a href="#mixins">Mixins</a></li>
    <li><a href="#nested-rules">Nested rules</a></li>
    <li><a href="#operations">Operations</a></li>
    <li><a href="#functions">Functions</a></li>
    <li><a href="#namespaces-accessors">Namespaces &amp; Accessors</a></li>
    <li><a href="#scope">Scope</a></li>
    <li><a href="#comments">Comments</a></li>
    <li><a href="#importing">Importing</a></li>
  </ul>
</li>

<li>
  <a href="#variables-feature">Variables</a>
  <ul class="nav">
    <li><a href="#variables-feature">Overview</a></li>
    <li>
      <a href="#variable-interpolation">Interpolation</a>
      {{!--
      <ul class="nav">
        <li><a href="#selectors">Selectors</a></li>
        <li><a href="#urls">URLs</a></li>
        <li><a href="#import-statements">Import statements</a></li>
        <li><a href="#properties">Properties</a></li>
      </ul>
      --}}
    </li>
    <li><a href="#variable-names">Variable Names</a></li>
    <li><a href="#lazy-loading">Lazy Loading</a></li>
    <li><a href="#default-variables">default variables</a></li>
  </ul>
</li>

<li>
  <a href="#extend-feature">Extend</a>
  <ul class="nav">
    <li><a href="#extend-feature">Overview</a></li>
    <li><a href="#extend-syntax">Syntax</a></li>
    <li><a href="#extend-attached-to-selector">Attached to selector</a></li>
    <li><a href="#extend-inside-ruleset">Inside ruleset</a></li>
    <li><a href="#extending-nested-selectors">Extending nested selectors</a></li>
    <li><a href="#exact-matching-with-extend">Exact matching</a></li>
    <li><a href="#extend-all-">Extend &quot;all&quot;</a></li>
    <li><a href="#selector-interpolation-with-extend">Selector Interpolation with Extend</a></li>
    <li><a href="#scoping-extend-inside-media">Scoping / Extend Inside @media</a></li>
    <li><a href="#duplication-detection">Duplication Detection</a></li>
    <li><a href="#use-cases-for-extend">Use Cases</a></li>
      {{!--
      <li><a href="#classic-use-case">Classic Use Case</a></li>
      <li><a href="#reducing-css-size">Reducing CSS Size</a></li>
      <li><a href="#combining-styles-a-more-advanced-mixin">Combining Styles</a></li>
      --}}
  </ul>
</li>

<li>
  <a href="#mixins-feature">Mixins</a>
  <ul class="nav">
    <li><a href="#mixins-feature">Overview</a></li>
    <li><a href="#not-outputting-the-mixin">Not outputting the mixin</a></li>
    <li><a href="#selectors-in-mixins">Selectors in mixins</a></li>
    <li><a href="#namespaces">Namespaces</a></li>
    <li><a href="#the-important-keyword">The <code>!important</code> keyword</a></li>
    <li><a href="#mixins-parametric-feature">Parametric mixins</a></li>
      <li><a href="#mixins-with-multiple-parameters">Multiple parameters</a></li>
      <li><a href="#named-parameters">Named parameters</a></li>
      <li><a href="#the-arguments-variable">The <code>@arguments</code> variable</a></li>
      <li><a href="#advanced-arguments-and-the-rest-variable">Advanced arguments and the <code>@rest</code> variable</a></li>
    <li><a href="#pattern-matching">Pattern-matching</a></li> {{!-- TODO: move this to "Conditional Structures" section below --}}
    <li><a href="#mixins-as-functions-feature">Mixins as functions</a></li>
  </ul>
</li>

<li>
  <a href="#import-directives-feature">Import Directives</a>
  <ul class="nav">
    <li><a href="#import-directives-feature">Overview</a></li>
    <li><a href="#file-extensions">File extensions</a></li>
    <li><a href="#import-options">Import Options</a></li>
      <li><a href="#reference">reference</a></li>
      <li><a href="#inline">inline</a></li>
      <li><a href="#less">less</a></li>
      <li><a href="#css">css</a></li>
      <li><a href="#once">once</a></li>
      <li><a href="#multiple">multiple</a></li>
  </ul>
</li>

<li>
  <a href="#mixin-guards-feature">Control Structures</a>
  {{!-- ^ or simply "Conditional and Iterative Structures", I'd prefer to use more formal "programing language like" title here but my opinion is obioulsy biased --}}
  <ul class="nav">
    <li><a href="#mixin-guards-feature">Mixin Guards</a></li>
      {{!--
      <li><a href="#guard-comparison-operators">Guard comparison operators</a></li>
      <li><a href="#type-checking-functions">Type checking functions</a></li>
      <li><a href="#conditional-mixins">Conditional mixins</a></li>--}}{{!-- "Guard keywords"?--}}
    <li><a href="#css-guards-feature">CSS Guards</a></li>
    <li><a href="#loops-feature">Loops</a></li>
  </ul>
</li>

<li>
  <a href="#merge-feature">Misc</a>
  <ul class="nav">
    <li><a href="#merge-feature">Merge</a></li>
    <li><a href="#parent-selectors-feature">Parent Selectors</a></li>
    {{!-- TODO: there's also "Advanced Usage of &" in nested.md (not published), I guess eventualy we'll create a dedicated "&" section.--}}
  </ul>
</li>