<li>
  <a href="#getting-started">Getting Started</a>
  <ul class="nav">
    <li><a href="#synopsis">Overview</a></li>
    <li><a href="https://github.com/less/less.js" target="_blank">Visit Less.js on GitHub <span class="glyphicon glyphicon-new-window"></span></a></li>
    <li><a href="http://less2css.org/" target="_blank">Try it now! <span class="glyphicon glyphicon-new-window"></span></a></li>
  </ul>
</li>
<li>
  <a href="#using-less">Using Less</a>
  <ul class="nav">
    <li><a href="#download-compiled">Source Code</a></li>
    <li><a href="#download-additional">Additional downloads</a></li>
    <li><a href="#download-cdn">Less.js CDN</a></li>
  </ul>
</li>
<li> <a href="#browsers">Browser support</a> </li>
<li> <a href="#third-parties">Third party support</a> </li>
<li> <a href="#license-faqs">License FAQs</a> </li>
