<li><a href="#overview">Overview</a></li>
<li><a href="#extend">Extend</a></li>
<li style="display: none;"><a href="#default-function">Default Function</a></li>
<li><a href="#import-directives">Import Directives</a></li>
<li><a href="#loops">Loops</a></li>
<li><a href="#merge">Merge</a></li>
<li><a href="#mixins">Mixins</a></li>
<li style="display: none;"><a href="#parametric-mixins">Parametric Mixins</a></li>
<li style="display: none;"><a href="#pattern-matching">Pattern-matching</a></li>
<li><a href="#mixins-as-functions">Mixins as Functions</a></li>
<li style="display: none;"><a href="#namespaces">Namespaces</a></li>
<li><a href="#parent-selectors">Parent Selectors</a></li>
<li style="display: none;"><a href="#scope">Scope</a></li>
<li style="display: none;"><a href="#strict-math">Strict Math</a></li>
<li><a href="#variables">Variables</a></li>