<li><a href="#functions-overview">Functions Overview</a></li>
{{#todo}}
<li><a href="#functions-how-to-use">How to use</a></li>
{{/todo}}
<li>
  <a href="#string-functions">String</a>
  <ul class="nav">
    <li><a href="#escape">escape</a></li>
    <li><a href="#e">e</a></li>
    <li><a href="#format">format</a></li>
  </ul>
</li>
<li>
  <a href="#misc-functions">Misc</a>
  <ul class="nav">
    <li><a href="#color">color</a></li>
    <li><a href="#unit">unit</a></li>
    <li><a href="#convert">convert</a></li>
    <li><a href="#data-uri">data uri</a></li>
    <li><a href="#default">default</a></li>
  </ul>
</li>
<li>
  <a href="#list-functions">List</a>
  <ul class="nav">
    <li><a href="#length">length</a></li>
    <li><a href="#extract">extract</a></li>
  </ul>
</li>
<li>
  <a href="#math-functions">Math</a>
  <ul class="nav">
    <li><a href="#ceil">ceil</a></li>
    <li><a href="#floor">floor</a></li>
    <li><a href="#percentage">percentage</a></li>
    <li><a href="#round">round</a></li>
    <li><a href="#sqrt">sqrt</a></li>
    <li><a href="#abs">abs</a></li>
    <li><a href="#sin">sin</a></li>
    <li><a href="#asin">asin</a></li>
    <li><a href="#cos">cos</a></li>
    <li><a href="#acos">acos</a></li>
    <li><a href="#tan">tan</a></li>
    <li><a href="#atan">atan</a></li>
    <li><a href="#pi">pi</a></li>
    <li><a href="#pow">pow</a></li>
    <li><a href="#mod">mod</a></li>
    <li><a href="#min">min</a></li>
    <li><a href="#max">max</a></li>
  </ul>
</li>
<li>
  <a href="#type-functions">Type</a>
  <ul class="nav">
    <li><a href="#isnumber">isnumber</a></li>
    <li><a href="#isstring">isstring</a></li>
    <li><a href="#iscolor">iscolor</a></li>
    <li><a href="#iskeyword">iskeyword</a></li>
    <li><a href="#isurl">isurl</a></li>
    <li><a href="#ispixel">ispixel</a></li>
    <li><a href="#isem">isem</a></li>
    <li><a href="#ispercentage">ispercentage</a></li>
    <li><a href="#isunit">isunit</a></li>
  </ul>
</li>
<li>
  <a href="#color-definition">Color Definition</a>
  <ul class="nav">
    <li><a href="#rgb">rgb</a></li>
    <li><a href="#rgba">rgba</a></li>
    <li><a href="#argb">argb</a></li>
    <li><a href="#hsl">hsl</a></li>
    <li><a href="#hsla">hsla</a></li>
    <li><a href="#hsv">hsv</a></li>
    <li><a href="#hsva">hsva</a></li>
  </ul>
</li>
<li>
  <a href="#color-channel">Color Channel</a>
  <ul class="nav">
    <li><a href="#hue">hue</a></li>
    <li><a href="#saturation">saturation</a></li>
    <li><a href="#lightness">lightness</a></li>
    <li><a href="#hsvhue">hsvhue</a></li>
    <li><a href="#hsvsaturation">hsvsaturation</a></li>
    <li><a href="#hsvvalue">hsvvalue</a></li>
    <li><a href="#red">red</a></li>
    <li><a href="#green">green</a></li>
    <li><a href="#blue">blue</a></li>
    <li><a href="#alpha">alpha</a></li>
    <li><a href="#luma">luma</a></li>
  </ul>
</li>
<li>
  <a href="#color-operations">Color Operations</a>
  <ul class="nav">
    <li><a href="#saturate">saturate</a></li>
    <li><a href="#desaturate">desaturate</a></li>
    <li><a href="#lighten">lighten</a></li>
    <li><a href="#darken">darken</a></li>
    <li><a href="#fadein">fadein</a></li>
    <li><a href="#fadeout">fadeout</a></li>
    <li><a href="#fade">fade</a></li>
    <li><a href="#spin">spin</a></li>
    <li><a href="#mix">mix</a></li>
    <li><a href="#greyscale">greyscale</a></li>
    <li><a href="#contrast">contrast</a></li>
  </ul>
</li>
<li>
  <a href="#color-blending">Color Blending</a>
  <ul class="nav">
    <li><a href="#multiply">multiply</a></li>
    <li><a href="#screen">screen</a></li>
    <li><a href="#overlay">overlay</a></li>
    <li><a href="#softlight">softlight</a></li>
    <li><a href="#hardlight">hardlight</a></li>
    <li><a href="#difference">difference</a></li>
    <li><a href="#exclusion">exclusion</a></li>
    <li><a href="#average">average</a></li>
    <li><a href="#negation">negation</a></li>
  </ul>
</li>
