<li><a href="#variables">Variables</a></li>
<li><a href="#mixins">Mixins</a></li>
<li><a href="#parametric-mixins">Parametric Mixins</a></li>
<li><a href="#pattern-matching">Pattern-matching</a></li>
<li><a href="#nested-rules">Nested Rules</a></li>
<li><a href="#operations">Operations</a></li>
<li><a href="#functions">Functions</a></li>
<li><a href="#namespaces">Namespaces</a></li>
<li><a href="#scope">Scope</a></li>
<li><a href="#comments">Comments</a></li>
<li><a href="#importing">Importing</a></li>
