<li>
  <a href="#getting-started">Getting Started</a>
  <ul class="nav">
    <li><a href="#synopsis">overview</a></li>
    <li><a href="#usage">usage</a></li>
    <li><a href="#docs" id="guide-link">language</a></li>
    <li><a href="#reference" id="guide-link">function reference</a></li>
    <li><a href="https://github.com/less/less.js">source</a></li>
    <li><a href="#about">about</a></li>
    <li><a href="http://less2css.org/" target="_blank">try it now!</a></li>
  </ul>
</li>
<li>
  <a href="#using-less">Using Less</a>
  <ul class="nav">
    <li><a href="#download-compiled">Source Code</a></li>
    <li><a href="#download-additional">Additional downloads</a></li>
    <li><a href="#download-cdn">Less.js CDN</a></li>
  </ul>
</li>
<li>
  <a href="#browsers">Browser support</a>
</li>
<li>
  <a href="#third-parties">Third party support</a>
</li>
<li>
  <a href="#license-faqs">License FAQs</a>
</li>
