<section id="menu">
  <div class="content">
    <nav>
      <a href="#synopsis">overview</a>
      <a href="#usage">usage</a>
      <a href="#docs" id="guide-link">language</a>
      <a href="#reference" id="guide-link">function reference</a>
      <a href="https://github.com/less/less.js">source</a>
      <a href="#about">about</a>
      <a href="http://less2css.org/" target="_blank">try it now!</a>
    </nav>
    <a href="https://twitter.com/cloudhead" class="twitter-follow-button" data-show-screen-name="false" data-width="80px" data-show-count="false" data-lang="en">Follow on twitter</a>
    <div id="dropdown">
      <ul>
        <li><a href="#-variables">Variables</a></li>
        <li><a href="#-mixins">Mixins</a></li>
        <li><a href="#-parametric-mixins">Parametric Mixins</a></li>
        <li><a href="#-pattern-matching-and-guard-expressions">Pattern-matching</a></li>
        <li><a href="#-nested-rules">Nested Rules</a></li>
        <li><a href="#-operations">Operations</a></li>
        <li><a href="#-functions">Functions</a></li>
        <li><a href="#-namespaces">Namespaces</a></li>
        <li><a href="#-scope">Scope</a></li>
        <li><a href="#-comments">Comments</a></li>
        <li><a href="#-importing">Importing</a></li>
      </ul>
    </div>
  </div>
</section>