<header class="masthead subhead">
  <div class="container">
    {{> btn-tweet }}
    <h1><span class="text-muted">Docs /&nbsp;</span> {{#if section}}{{ section }} {{else}}{{basename}}{{/if}}</h1>
  </div>
</header>