<li>Chinese: <a href="http://lesscss.net">http://lesscss.net</a></li>
<li>Danish: <a href="http://lesscss.dk">http://lesscss.dk</a></li>
<li>German: <a href="http://lesscss.de">http://lesscss.de</a></li>
<li>Indonesian: <a href="http://bertzzie.com/post/7/dokumentasi-less-bahasa-indonesia">http://bertzzie.com/post/7/dokumentasi-less-bahasa-indonesia</a></li>
<li>Japanese: <a href="http://less-ja.studiomohawk.com/">http://less-ja.studiomohawk.com/</a></li>
<li>Polish: <a href="http://ciembor.github.com/lesscss.org/">http://ciembor.github.com/lesscss.org/</a></li>
<li>Russian: <a href="http://lesscss.ru">http://lesscss.ru</a></li>
<li>Ukrainian: <a href="http://komaval.github.com/lesscss.org/">http://komaval.github.com/lesscss.org/</a></li>
<li>Belorussian: (Out of date) <a href="http://www.designcontest.com/show/lesscss-be">http://www.designcontest.com/show/lesscss-be</a></li>
<li>Portugese: (Out of date) <a href="http://lesscss.loopinfinito.com.br/">http://lesscss.loopinfinito.com.br/</a></li>