//
// Content
// --------------------------------------------------


// This is the main content of the docs, usually the center column.
.docs-content {
  position: relative;
  overflow: hidden; // hide the overhang on code/pre blocks

  background-color: #FFF;
  padding: 50px @content-gutter 80px @content-gutter; // add 1px top padding to prevent collapsing
  margin: 0 -15px;

  border: none;
  border-radius: 0 0 4px 4px;

  // remove padding from fluid containers when
  // inside content blocks.
  .container-fluid {
    padding: 0;
  }
}

.docs-content {
  .box-shadow(0 2px 4px rgba(0,0,0,.2));
}

@media (max-width: 767px) {
  .docs-content {
    padding: 50px 20px 1px;
  }
}


