---
layout: default.hbs
title: Language Features
slug: features
lead: "Features supported by Less.js."
base_url: "../"
---

<!-- Features -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="features-overview">Overview</h1>
  </div>
  <p class="lead">Language features supported by Less.js.</p>
</div>


<div class="docs-section">
  <h1 id="features">Placeholder</h1>
  {{md 'content/features/*.md'}}
</div>
