---
layout: default.hbs
title: Language Features
slug: features
lead: "Features supported by Less.js."
---

<!-- Features -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="features-overview">Overview</h1>
  </div>
  <p class="lead">Simple overview of the basic features</p>
  {{md 'content/overview.md'}}
</div>

{{#each features}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="{{@key}}">{{title}}</h1>
  </div>
  {{md content}}
</div>
{{/each}}