---
title: Language Features
lead: Features of the Less language
slug: features
sidenav: nav-<%= slug %>
---

{{#each features.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}-feature">{{title}}</h1>
    </div>
    <div class="section-content">
      {{md @key}}
    </div>
  </div>
{{/each}}