---
title: Functions
slug: functions
lead: Function reference
---

{{!-- Functions
================================================== --}}

<div class="docs-section">
  <div class="page-header">
    <h1 id="functions-overview">Functions</h1>
  </div>
  <p class="lead">Built-in functions supported by Less.</p>
</div>

{{#each functions.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>
    <div class="section-content">
      {{md @key}}
    </div>
  </div>
{{/each}}
