---
title: Getting started
slug: index
lead: "An overview of Less, how to download and use, examples and more."
---


{{!-- Overview
================================================== --}}
<div class="docs-section">
  <div class="">
    <h1 id="overview">Overview</h1>
  </div>
  {{md 'features-overview'}}
</div>


