/*
    Based on the github style
*/

pre code {
    display: block; padding: 0.5em;
    color: #333;
    background: #f8f8ff
}

.hljs-comment,
.hljs-template_comment {
    color: #998;
    font-style: italic
}

.hljs-keyword,
.hljs-css .hljs-rule .hljs-keyword,
.hljs-javascript .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
    color: #333;
    font-weight: bold
}

.hljs-number,
.hljs-hexcolor {
    color: #099;
}

.hljs-string,
.tag .value {
    color: #d14
}

.hljs-title,
.hljs-id {
    color: #900;
    font-weight: bold
}

.hljs-javascript .hljs-title {
    font-weight: normal
}

.hljs-class .hljs-title {
    color: #458;
    font-weight: bold
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property {
    color: #000080;
    font-weight: normal
}

.hljs-attribute,
.hljs-variable {
    color: #008080
}

.hljs-regexp {
    color: #009926
}

.hljs-class {
    color: #458;
    font-weight: bold
}

.hljs-symbol,
.hljs-prompt {
    color: #990073
}

.hljs-built_in {
    color: #0086b3
}

.hljs-preprocessor,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
    color: #999;
    font-weight: bold
}

.hljs-deletion {
    background: #fdd
}

.hljs-addition {
    background: #dfd
}

.hljs-chunk {
    color: #aaa
}