name: Deploy Docs

env: {NODE_VERSION: 14}

on:
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    environment:
      name: GITHUB_TOKEN
  
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: {node-version: '${{ env.NODE_VERSION }}'}
      - name: install dependencies
        run: npm install
      - name: build docs
        run: node data/_utils/pkg && grunt
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          repo: less/less.github.io
          target_branch: master
          build_dir: dest
        env:
          GITHUB_TOKEN: ${{ secrets.LESS_DOCS_DEPLOY_TOKEN }}
